@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300&subset=latin-ext");
@font-face {
  font-family: 'loveloline_bold';
  src: url("lovelo_line_bold-webfont.woff2") format("woff2"), url("lovelo_line_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none !important; }

/*====================================================
JUMBOTRON
====================================================*/
#jumbotron {
  height: 100vh;
  background-image: url("http://i.imgur.com/YIrBNmf.jpg");
  background-size: cover;
  background-color: #202020;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0px; }

.jumbotron-header {
  text-align: center;
  position: relative;
  left: 0;
  right: 0; }
  .jumbotron-header h1 {
    color: #fff;
    margin-top: 40vh;
    text-align: center;
    font-family: 'loveloline_bold';
    line-height: 50px;
    font-size: 60px;
    letter-spacing: 8px;
    text-shadow: rgba(237, 77, 110, 0.9) 2px 0px 0px; }
  .jumbotron-header p {
    color: #fff;
    font-size: 20px; }
  .jumbotron-header a {
    text-decoration: none;
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
    width: 40px;
    height: 40px;
    list-style: none;
    font-size: 35px; }
  .jumbotron-header .fa {
    padding-top: 50px;
    color: #fff;
    transition: .35s ease; }
    .jumbotron-header .fa:hover {
      color: #ed4d6e;
      cursor: pointer; }

.color-span {
  color: #ed4d6e; }

/*====================================================
ANIMATED SCROLL ARROW ON THE BOTTOM OF JUMBOTRON
====================================================*/
.jumbotron-button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  color: #fff; }
  .jumbotron-button p {
    margin-bottom: 0px; }
  .jumbotron-button .angle {
    font-size: 40px;
    color: white;
    animation: jump 1.5s infinite; }
    .jumbotron-button .angle:hover {
      color: #ed4d6e; }

@keyframes jump {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

/*====================================================
MENU
====================================================*/
.container .menu-item-link {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px; }
  .container .menu-item-link:after {
    content: '';
    position: absolute;
    background: #000000;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease; }
  .container .menu-item-link:hover:after, .container .menu-item-link:focus:after, .container .menu-item-link:active:after {
    width: 100%; }

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF; }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF; }
  .button_container span {
    background: #FFF;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 100; }
  .overlay .open {
    z-index: 1; }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 1; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li .menu-item-link {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li .menu-item-link:hover:after, .overlay ul li .menu-item-link:focus:after, .overlay ul li .menu-item-link:active:after {
          width: 100%; }
        .overlay ul li .menu-item-link:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #FFF;
          transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/*====================================================
ABOUT ME SECTION
====================================================*/
#about {
  position: relative;
  background-color: #F4F3F8;
  margin-bottom: 50px;
  height: auto;
  overflow: hidden; }
  #about .myphoto {
    position: absolute;
    top: 10%;
    right: 60px;
    max-height: 100%; }
  #about h2 {
    padding-top: 50px;
    font-family: "Bree Serif", serif;
    text-align: center;
    font-size: 45px;
    color: #202020;
    font-weight: 100; }
  #about .caption {
    text-align: center;
    color: #414142;
    font-size: 22px; }
  #about .more-about {
    color: #ed4d6e; }

.text-about {
  margin-top: 50px;
  margin-bottom: 50px; }
  .text-about p {
    color: #414142;
    font-size: 14px;
    text-align: justify;
    line-height: 28px; }

.about-buttons {
  text-align: center;
  padding-bottom: 60px; }

.about_button {
  cursor: pointer;
  color: #414142;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.2rem;
  border: 2px solid #414142;
  border-radius: 15px;
  padding: 10px;
  background-image: linear-gradient(45deg, #e70057 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 300%;
  transition: 0.5s;
  -webkit-transition: 0.5s; }
  .about_button:hover {
    background-position: 0 100%;
    color: #fff;
    background-color: #e70057;
    border: 2px solid #e70057; }
  .about_button i {
    margin-right: 5px; }

/*====================================================
SKILLS SECTION
====================================================*/
#skills h3 {
  font-family: "Bree Serif", serif;
  text-align: center;
  font-size: 50px;
  color: #202020;
  font-weight: 100; }

#skills h4 {
  font-family: "Bree Serif", serif;
  font-size: 30px;
  padding-bottom: 15px;
  margin-top: 60px; }

#skills i {
  margin-right: 10px; }

#skills .caption {
  text-align: center;
  color: #ed4d6e;
  font-size: 22px; }

#skills p {
  font-size: 14px;
  text-align: justify;
  line-height: 28px; }

.skill-icon {
  color: #ed4d6e; }

.single-skill {
  min-height: 380px;
  margin-top: 40px; }
  .single-skill .single-skill-image {
    width: 100%;
    height: auto; }
  .single-skill .svg-icon {
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center; }

#skills2 {
  background-color: #1A1A1A; }
  #skills2 h4 {
    font-family: "Bree Serif", serif;
    color: #fff;
    font-size: 30px;
    padding-bottom: 15px;
    margin-top: 60px; }
  #skills2 i {
    margin-right: 10px; }
  #skills2 .caption {
    text-align: center;
    color: #ed4d6e;
    font-size: 22px;
    padding-bottom: 80px; }
  #skills2 p {
    color: #fff;
    font-size: 14px;
    text-align: justify;
    line-height: 28px; }
  #skills2 img {
    width: 100%;
    height: auto; }
  #skills2 .svg-icon {
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center; }

/*====================================================
PORTFOLIO SECTION
====================================================*/
.portfolio-container {
  width: 100%; }

#portfolio {
  width: 100%;
  background-color: #efefef; }

.portfolio {
  text-align: center;
  position: relative; }

.portfolio_button {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 10px;
  background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 300%;
  transition: 0.5s;
  -webkit-transition: 0.5s; }
  .portfolio_button:hover {
    background-position: 0 100%;
    color: #e70057;
    background-color: #fff;
    border: 2px solid #e70057; }

.portfolio-grid {
  padding: 0px; }

.portfolio-image {
  position: relative;
  max-width: 640px;
  height: auto; }
  .portfolio-image:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(237, 77, 110, 0.8);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  .portfolio-image:hover:after {
    opacity: 1; }
  .portfolio-image img {
    width: 100%;
    height: auto; }

.portfolio .portfolio-box {
  position: absolute;
  top: 30%;
  width: 100%;
  height: auto;
  color: #fff;
  padding: 0 20px; }

.portfolio-box h3 {
  font-family: "Bree Serif", serif;
  font-size: 3rem; }

.portfolio-box p {
  font-size: 1.3rem;
  padding-bottom: 30px; }

/*====================================================
CONTACT SECTION
====================================================*/
#contact {
  height: 80vh;
  background-image: url("http://i.imgur.com/AEF9KhL.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #contact .contact-form {
    padding-top: 20vh;
    text-align: center;
    width: 100%;
    color: #414142; }
  #contact img {
    width: 120px;
    height: auto; }
  #contact h3 {
    padding-top: 40px;
    font-family: "Bree Serif", serif;
    text-align: center;
    margin-top: 0px;
    font-size: 45px; }
  #contact p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px; }
  #contact a {
    color: #414142;
    font-family: "Bree Serif", serif;
    transition: .2s ease-in-out; }
    #contact a:hover {
      color: #ed4d6e; }

/*====================================================
FOOTER
====================================================*/
#footer {
  background-color: #1A1A1A; }
  #footer p {
    padding-top: 15px;
    color: #fff;
    text-align: right; }
  #footer i {
    padding: 15px;
    font-size: 20px;
    color: #fff;
    transition: .2s ease-in-out; }
    #footer i:hover {
      color: #ed4d6e; }

/*====================================================
MEDIA QUERIES
====================================================*/
@media screen and (max-width: 1199px) {
  .portfolio .portfolio-box {
    top: 20%; } }

@media screen and (max-width: 992px) {
  .portfolio .portfolio-box {
    top: 20%; }
  #footer {
    text-align: center; }
    #footer p {
      text-align: center; } }

@media screen and (max-width: 768px) {
  #about .myphoto {
    display: none; }
  #footer {
    text-align: center; }
    #footer p {
      text-align: center; } }

@media screen and (max-width: 568px) {
  .jumbotron-header h1 {
    margin-top: 10vh;
    font-size: 40px; }
  .jumbotron-header p {
    font-size: 18px;
    margin-bottom: 0px; }
  .jumbotron-button {
    bottom: 10px; }
  .text-about {
    margin-top: 20px; }
  #contact .contact-form {
    padding-top: 5vh;
    width: 100%; }
    #contact .contact-form img {
      width: 90px;
      height: auto; }
    #contact .contact-form h3 {
      padding-top: 20px;
      font-size: 40px; }
    #contact .contact-form p {
      padding-top: 20px;
      font-size: 20px; } }

@media screen and (max-width: 480px) {
  #about .myphoto {
    display: none; }
  #footer {
    text-align: center; }
    #footer p {
      text-align: center; }
  .single-skill {
    min-height: 160px;
    margin-top: 40px; }
  .jumbotron-header h1 {
    margin-top: 20vh;
    font-size: 40px; }
  .jumbotron-header p {
    font-size: 18px; }
  .text-about {
    margin-top: 20px; }
  #contact .contact-form {
    padding-top: 10vh;
    width: 100%; }
    #contact .contact-form img {
      width: 90px;
      height: auto; }
    #contact .contact-form h3 {
      padding-top: 20px;
      font-size: 40px; }
    #contact .contact-form p {
      padding-top: 20px;
      font-size: 20px; } }

/*# sourceMappingURL=main.css.map */